body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.cabecalho {
    font-size: 20px;
    color: white;
    font-family: Asap, sans-serif;
}
    
.cabecalho > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.comentario {
    font-size: 10px;
    color: white;
    font-family: Asap, sans-serif;
}
    
.comentario > p {
    text-align: center;
    font-family: Asap, sans-serif;
}

#background {
    margin: 20px;
    padding: 20px;
    justify-content: center;
    position: absolute;
    left: 25%;
} 

.linha {
    display: flex;
    flex-direction: row;
}

.labirinto, .background {
    width: 30px;
    height: 30px;
}

.parede {
    background-image: url("img/quadradobranco.png");
    background-size: 30px;
}

#arcoiris {
    position: absolute;
    left: 80%;
    top: 50%;
}

body {
    background-image: url("https://i.kym-cdn.com/photos/images/original/000/128/096/Nyancatless20110725-22047-2vf3z5.gif");
}

#vitoria{   
    
    width: 200px;
    height: 200px;
    justify-content: center;
    position: absolute;
    left: 80%;
    top: 50%;
}